@using FunnyBunnyGames.Services.Games.ViewModel
@model List<AllGamesViewModel>

@if (Model.Count == 0)
{
    <h2 class="text-center">There are no games.</h2>
}
else
{
    <div>
        <a class="ml-2 btn btn-primary" asp-controller="Game" asp-action="Add" style="border-color:#fc6c85; background-color:#fc6c85">Create</a>
    </div>
    <br />
    <div class="position-relative">
        <div class="row">
            @foreach (var game in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h4>@game.Name</h4>
                            <img style="margin-bottom:0.5em" class="card-img-top" style="width: 18rem;"
                                 src="@game.ImageUrl" alt="Game image">
                            <br />
                            <h6>Price: <b>@game.Price lv.</b></h6>
                            <h6>
                                Genre:
                                <b>@game.Genre.Name</b>
                            </h6>
                            <h6>
                                Company name:
                                <b>@game.Company!.Name</b>
                            </h6>
                            <h6>
                                Age restriction:
                                <b>@game.AgeRestriction y.o.</b>
                            </h6>
                            <h6>
                                Release date:
                                <b>@game!.ReleaseDate!.Value.Day.@game.ReleaseDate.Value.Month.@game.ReleaseDate.Value.Year</b>
                            </h6>
                            <br />
                            <a style="background-color:#fc6c85; border:none" asp-controller="Game" asp-action="Update" asp-route-id="@game.Id" class="btn btn-success">Update</a>
                            <a asp-controller="Game" asp-action="Delete" asp-route-id="@game.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}