@using FunnyBunnyGames.Services.Games.ViewModel
@model UpdateGameViewModel

@{
    ViewBag.Title = "Update Game";
}

<h2 style="color: #fc6c85" class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row" style="color: #fc6c85">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form enctype="multipart/form-data" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label">Game name</label>
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <input type="text" asp-for="@Model.Description" class="form-control" aria-required="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">Image</label>
                <input type="text" asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ReleaseDate" class="form-label">Release date</label>
                <input type="text" asp-for="@Model.ReleaseDate" class="form-control" aria-required="true" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AgeRestriction" class="form-label">Age restriction</label>
                <input type="text" asp-for="@Model.AgeRestriction" class="form-control" aria-required="true" />
                <span asp-validation-for="AgeRestriction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genres" style="margin-bottom: 0.5em">Genres:</label>
                <br />
                <select asp-for="@Model.GenreId">
                    @foreach (var gen in Model.Genres)
                    {
                        <option value="@gen.Id">@gen.Name</option>
                        <br />
                    }
                </select>
                <br />
                <span asp-validation-for="Companies" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Companies" style="margin-bottom: 0.5em">Companies:</label>
                <br />
                <select asp-for="@Model.CompanyId">
                    @foreach (var comp in Model.Companies)
                    {
                        <option value="@comp.Id">@comp.Name</option>

                        <br />
                    }
                </select>
                <br />
                <span asp-validation-for="Companies" class="text-danger"></span>
                <br />
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" style="background-color: #fc6c85; border:none" asp-controller="Game" asp-action="Add" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}